*{
	margin: 0;
	padding: 0;

	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;

	min-height: 100vh;
	flex-direction: column;
	gap: 30px;
	background: #1d2b3a;
}

.input-box {
	position: relative;
	width: 250px;
}

.input-box input {
	width: 100%;
	padding: 10px;
	border: 1px solid #ffffff50;
	background: #1d2b3a50;
	border-radius: 5px;
	outline: none;

	color: #ffffff;
	font-size: 1rem;

	/*animation for box border*/
	transition: 0.5s;

}

.input-box span {
	color: gray;
	font-size: 0.75rem;
	text-transform: uppercase;

	position: absolute;
	left: 0;
	padding: 0.9rem;
	pointer-events: none;

	transition: 0.5s;
}

.input-box input:valid ~ span,
.input-box input:focus ~ span
{
	color: #00dfc4;
	transform: translateX(10px) translateY(-7px);
	font-size: 0.65rem;
	padding: 0 10px;
	background: #1d2b3a;
	border-left: 1px solid #00dfc4;
	border-right: 1px solid #00dfc4;

	letter-spacing: 0.2rem;
}

/*for catching span tag of last name*/
.input-box:nth-child(2) input:valid ~ span,
.input-box:nth-child(2) input:focus ~ span
{
	background: #00dfc4;
	color: #1d2b3a;
	border-radius: 2px;
}

.input-box input:valid,
.input-box input:focus
{
	border: 1px solid #00dfc4;
}